.toolbar-spacer {
    flex: 1 1 auto;
}

a.title {
    color: white;
    display: center;
}


body{
    margin: 0;
    padding: 0;
    height: 80%; /* Necesario para que el contenedor ocupe toda la pantalla */
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100%; /* Ocupa toda la altura del viewport */
    background-image: url('../../public/imegen1.jpg');/* Fondo opcional */
}

.imagen {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}